.hero-image {
    background-image: url("/assets/images/HeadshotLandscape.jpg");
    position: relative;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: bottom right;
    bottom: 0;
    right: 0;
    z-index: -200;
    background-repeat: no-repeat;
}

/* 
.test {
    font-size: xx-large;
    background-image: url("/assets/images/HeadshotLandscape.jpg");
    background-size: cover;
} */

.buzz-words {
    background-color: transparent;
    color: white;
    height: 100vh;
    text-align: center;
    padding-top: 10%;
    line-height: 200%;
    font-size: xx-large;
    background-color: #303030;
}

.navbar {
    z-index: 100;
}

.blank {
    height: 100vh;
}