/*-------------------------------------------------------------------- Google Fonts */
/* -----------Remove unused heading fonts (Lato, Exo, Fjalla One) before deployment */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Exo:ital,wght@0,100..900;1,100..900&family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*------------------------------------------------------------------------- Colors */


/* ------------------------------------------------------------------- Navbar */



/* ------------------------------------------------------------------- Hero */



.hero-container {
    background-image: url("../assets/images/image-2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* height: 100vh;
    background: url("../assets/images/image-2.jpg") no-repeat bottom right fixed / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000; */
}